.fuse*

*~
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.out
*.ps
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.tdo
*.toc
*.xdy

.dropsync